@import "./variable.scss";

.chat-screen {
    height: auto;

    .ant-tabs {
        .ant-tabs-content-holder {
            height: auto;

            .ant-tabs-content {
                .ant-tabs-tabpane {
                    padding: 0;

                    .ChatCard {
                        border: none;
                        border-radius: 0;

                        .ant-card-head {
                            border-radius: 0;
                        }

                        .ant-card-body {
                            overflow-y: hidden;
                            padding: 0px !important;
                            border-radius: 1px;

                            .chatBox {
                                .chatContainer {
                                    min-height: 84vh;
                                    margin-top: 1px;
                                    height: 80vh;

                                    .sentMsg {
                                        display: flex;
                                        flex-direction: column;
                                        align-items: flex-end;
                                    }

                                    .rcdMsg {
                                        display: flex;
                                        flex-direction: column;
                                        align-items: start;
                                    }

                                    .rcdMsg .newMessage {
                                        width: 100%;
                                        display: flex;
                                        align-items: center;
                                        justify-content: center;
                                    }

                                    .messageBox {
                                        padding: 0.5vmax;
                                        margin-left: 0.5vmax;
                                        margin-right: 0.5vmax;
                                        margin-top: 0.5vmax;
                                        margin-bottom: 0.2vmax;
                                        overflow-wrap: break-word;
                                        word-wrap: break-word;
                                        border-radius: 0.5vmax;
                                        max-width: 60%;
                                        display: block;
                                        clear: both;
                                    }

                                    .left {
                                        float: left;
                                        text-align: left;
                                    }

                                    .time {
                                        padding-left: 0.5vmax;
                                        padding-right: 0.5vmax;
                                        margin-left: 0.5vmax;
                                        margin-right: 0.5vmax;
                                        margin-bottom: 0.5vmax;
                                        margin-top: 0%;
                                        font-size: 10px;
                                        display: block;
                                        clear: both;
                                        background-color: transparent;
                                    }
                                }

                                .ant-row {
                                    .inputBox {
                                        display: flex;
                                        flex-direction: row;
                                        justify-content: center;
                                        align-items: center;

                                        input {
                                            border-radius: 0%;
                                            padding-bottom: .7rem;
                                            margin-right: .5rem;

                                            &:focus,
                                            &:active {
                                                border: none;
                                                box-shadow: none;
                                            }
                                        }

                                        .add-emoji {
                                            font-size: large;
                                            padding-right: 1rem;
                                        }

                                        .sendBtn {
                                            font-size: large;
                                            background-color: transparent;
                                            border: none;
                                            width: 30px;
                                            height: 30px;
                                            padding: 0;

                                            span.anticon {
                                                width: 24px;
                                                height: 24px;
                                                border-radius: 50%;
                                            }

                                            &:hover {
                                                transform: none;
                                            }
                                        }

                                        // &.onChangeInputBox {
                                        //     .sendBtn {
                                        //         span.anticon {
                                        //             background-color: red;
                                        //         }
                                        //     }
                                        // }
                                    }

                                    .changedPositionInputBox {
                                        display: flex;
                                        flex-direction: row;
                                        position: absolute !important;
                                        bottom: 43.5%;
                                        width: 100%;
                                        height: auto;
                                        border-bottom: 1px solid #bcbcbc;
                                        border-top: 1px solid #bcbcbc;
                                    }
                                }

                                // button.react-scroll-to-bottom--css-zsilb-1tj0vk3 {
                                //     // display: none;
                                // }
                            }
                        }
                    }
                }
            }
        }

        .ant-tabs-nav {
            width: 20%;

            .ant-tabs-nav-wrap {
                height: 100vh;

                .ant-tabs-nav-list .ant-tabs-tab {
                    padding: 5% 5%;

                    .ant-tabs-tab-btn {
                        width: 100%;
                    }
                }
            }

            .ant-tabs-nav-operations .ant-tabs-nav-more {
                display: none;
            }
        }
    }
}

.chatHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .chatTxt1 {
        color: #00ce22;
    }

    .chatTxt2 {
        color: #ff0000;
    }
}

.emoji-picker {
    width: 99.9% !important;
    height: 43% !important;
    position: absolute !important;
    bottom: 0px;
    border-style: hidden !important;
    border-radius: 0% !important;
}

.ant-modal-mask {
    background-color: rgba(0, 0, 0, 0.562) !important;
}

.ant-modal {
    width: 50%;
}

.member-list {
    .ant-modal-content {
        .ant-modal-body {
            height: 15rem;
            overflow-y: auto;
            scroll-behavior: smooth;
        }
    }
}