@import "./variable.scss";

.chat-screen {
    .ant-tabs {
        .ant-tabs-content-holder {
            height: 100vh;
            overflow-y: scroll;
        }
        .ant-tabs-nav {
            width: 20%;
            .ant-tabs-nav-wrap {
                height: 100vh;
                .ant-tabs-nav-list .ant-tabs-tab {
                    padding: 5% 5%;
                    .ant-tabs-tab-btn {
                        width: 100%;
                    }
                }
            }
            .ant-tabs-nav-operations .ant-tabs-nav-more {
                display: none;
            }
        }
    }
}
