@import "variable.scss";

.page-layout {
    background: linear-gradient($primary-light-1 0% 20%, $primary-light-2 40%, $primary-light-3 60%, $primary-light-4 90% 100%);
    height: 100vh;
    width: 100vw;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

    .box-layout {
        background-color: $primary-dark-6;
        box-shadow: 50px 20px 20px $primary-dark-3;
        display: flex;
        padding: 20px;
        border-radius: 40px;
        width: 38%;
    }
}




.chat-layout-light {
    background-color: $primary-light-6;
    height: 100vh;
    width: 100vw;
    color: white;

    .ant-tabs .ant-tabs-ink-bar {
        background: $primary-dark-1;
        width: 2%;
    }

    .ant-tabs .ant-tabs-content-holder .ant-tabs-content .ant-tabs-tabpane .ChatCard {
        .ant-card-head {
            background-color: $primary-light-6;
        }

        .ant-card-body {
            background-color: $primary-light-7;
        }
    }
}

.chat-layout-dark {
    background-color: $primary-dark-1;
    height: 100vh;
    width: 100vw;
    color: white;

    .ant-tabs .ant-tabs-ink-bar {
        background: white;
        width: 2%;
    }

    .ant-tabs .ant-tabs-content-holder .ant-tabs-content .ant-tabs-tabpane .ChatCard {
        .ant-card-head {
            background-color: $primary-dark-1;
        }

        .ant-card-body {
            background-color: $primary-dark-2;
        }
    }
}