@import "variable.scss";

.page-layout {
    background: linear-gradient($primary-light-1 0% 20%, $primary-light-2 40%, $primary-light-3 60%, $primary-light-4 90% 100%);
    height: 100vh;
    width: 100vw;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

    .box-layout {
        background-color: $primary-dark-5;
        box-shadow: 50px 20px 20px $primary-dark-2;
        display: flex;
        padding: 20px;
        border-radius: 40px;
        width: 38%;
    }
}


// $primary-dark-1 : #005972;
// $primary-dark-2 : #00637f;
// $primary-dark-3 : #03718e;
// $primary-dark-4 : #047e9f;
// $primary-dark-5 : #068fb5;

// $primary-light-1 : #08a0cb;
// $primary-light-2 : #29bbdc;
// $primary-light-3 : #54d6ee;
// $primary-light-4 : #81ecfb;
// $primary-light-5 : #bff9fe;


.chat-layout-light {
    background-color: $primary-light-6;
    height: 100vh;
    width: 100vw;
    color: white;
}

.chat-layout-dark {}