.profile {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;

    .name {
        display: flex;
        font-size: medium;
        justify-content: flex-start;
        padding-left: 1rem;
        color: black;
    }

    .photo {
        background-image: url("../Media/blue-wall.jpg");
        background-size: cover;
        height: 30px;
        width: 30px;
        border-radius: 50%;
        background-color: aqua;
        padding: 4%;
        border-radius: 50%;
    }
}