$primary-color : rgb(51, 147, 189, 0.5);
$secondary-color : rgb(102, 199, 240);
$border : 2px solid rgb(51, 147, 189);

$primary-dark-1 : #005972;
$primary-dark-2 : #00637f;
$primary-dark-3 : #03718e;
$primary-dark-4 : #047e9f;
$primary-dark-5 : #068fb5;

$primary-light-1 : #08a0cb;
$primary-light-2 : #29bbdc;
$primary-light-3 : #54d6ee;
$primary-light-4 : #81ecfb;
$primary-light-5 : #aaf5fc;
$primary-light-6 : #c9f0ff;