@import "variable.scss";

.welcome {
    .box {
        flex-direction: column;

        height: 60vh;

        .button-section {
            display: flex;
            width: 50%;
            margin-top: 5%;
            justify-content: space-between;
        }
    }
}