// @import url('./styles/');

@import "styles/variable.scss";



.App {
  text-align: center;
}

.basic-properties {
  text-align: center;
  color: $primary-color;
}



p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
